apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: penguincrm
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
      # ✅ ส่วนที่เพิ่ม: บอก Prometheus ให้มาเก็บข้อมูลที่นี่
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "3000"
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: api
          image: ghcr.io/saigear99/penguincrm-api:latest
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: api-secrets
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "3000"
            - name: ES_INDEX_NAME
              value: "emails_pjid_search"
            - name: MS_GRAPH_TENANT_ID
              value: "5ed8e9fb-d4b9-4deb-8823-0adf1b93d6d8"
            - name: MS_GRAPH_CLIENT_ID
              value: "cab85096-3c2c-43f6-ae3a-1cd502116289"
            - name: DOC_AI_PROCESSOR_ID
              value: "1a3f78805d1e9c3"
            - name: GCP_PROJECT_ID
              value: "gen-lang-client-0428922778"
            - name: NEXT_PUBLIC_API_BACKEND
              value: "http://api:3000"
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://192.168.2.37:5001"

---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: penguincrm
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30000
  selector:
    app: api

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: penguincrm
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: frontend
          image: ghcr.io/saigear99/penguincrm-frontend:latest
          ports:
            - containerPort: 6001
          env:
            - name: PORT
              value: "6001"
            - name: API_BACKEND_URL
              value: "http://api:3000"
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://192.168.2.37:30000"

---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: penguincrm
spec:
  type: NodePort
  ports:
    - port: 6001
      targetPort: 6001
      nodePort: 30001
  selector:
    app: frontend