apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: penguincrm
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: ghcr.io/saigear99/penguincrm-api:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
            - name: DATABASE_URL
              value: "mysql://root:P@ssw0rd@172.16.51.138/ai_dell?connection_limit=200&pool_timeout=20&connect_timeout=10"
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: penguincrm
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30000
  selector:
    app: api