apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: penguincrm
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: frontend
          image: ghcr.io/saigear99/penguincrm-frontend:29af7d879faa547a557ff778599f98bf560a3175
          ports:
            - containerPort: 6001
          env:
            # ✅ 1. Port ที่ Next.js จะรัน (ตรงกับ containerPort)
            - name: PORT
              value: "6001"

            # ✅ 2. สำหรับ Next.js คุยกับ Backend ภายใน Cluster (Server Side Rendering)
            # ใช้ชื่อ Service ใน K8s ได้เลย เร็วและปลอดภัยกว่า
            - name: API_BACKEND_URL
              value: "http://api:3000"

            # ✅ 3. สำหรับ Browser คุยกับ Backend (Client Side / Axios)
            # ⚠️ สำคัญ: ต้องเป็น IP เครื่อง Server จริง (Node IP) และ Port ที่ API เปิด (NodePort 30000)
            # Browser ลูกค้าจะเข้าถึงผ่าน URL นี้
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://192.168.2.37:30000" 

---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: penguincrm
spec:
  type: NodePort
  ports:
    - port: 6001
      targetPort: 6001
      nodePort: 30001
  selector:
    app: frontend